.fitur__hero {
    background: #e36d1c;
    padding-top: 200px;
    padding-bottom: 250px;
    position: relative;
    color: #ffffff;
}

.fitur__hero h2 {
    /* font-family: gilroy-bold; */
    font-size: 48px;
    line-height: 64px;
    color: #ffffff;
}
.fitur__hero h6 {
    /* font-family: gilroy-medium; */
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 0.7);
}

.fitur__desc h2 {
    /* font-family: gilroy-bold; */
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #333333;
}

.fitur__desc p {
    /* font-family: gilroy-medium; */
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #666666;
    width: 30%;
    margin: 0 auto;
}

.fitur__item {
    height: 700px;
    width: 100%;
    /* border: 1px solid red; */
}

.fitur__item .card {
    background: #ffffff;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    border: transparent;
    height: 100%;
}

.fitur__item .card-body {
    position: relative;
}

.fitem__img {
    margin-top: -85px;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.fitur__item .card-body .fitem_num {
    /* font-family: gilroy-bold; */
    font-size: 60px;
    line-height: 64px;
    color: rgba(227, 139, 48, 0.5);
    margin-right: 15px;
    flex-shrink: 0;
}

.fitur__item .card h5 {
    /* font-family: gilroy-bold; */
    font-size: 26px;
    line-height: 30px;
    color: #e38b30;
}
.fitur__item .card h6 {
    /* font-family: gilroy-medium; */
    font-size: 16px;
    line-height: 150%;
    color: rgba(227, 139, 48, 0.6);
}

.fitur__item .card ul {
    padding-left: 1rem;
}

.fitur__item .card ul li {
    font-size: 14px;
    line-height: 20px;
    color: #e38b30;
}

.fitur__item {
    overscroll-behavior: none;
    border: 1px solid green;
}

#pinContainer {
    margin-top: -200px;
    padding-top: 300px;
    padding-left: 200px;
    overscroll-behavior: none;
    width: 200%;
    /* height: 100%; */
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid red;
    /* overflow-y: hidden !important; */
}

.fitur__item .panel {
    width: 50%;
    margin-right: 25px;
}

/* #slideContainer {
    width: 200%;
    height: 100%;
    border: 1px solid yellow;
    padding-top: 200px;
    padding-bottom: 150px;

    display: flex;
    align-items: center;
} */

/* .panel {
    width: 40%;
    height: 100%;
    margin-right: 25px;
} */
