.home__hero {
    padding-top: 125px;
    padding-bottom: 150px;
    background: #e36d1c;
    box-shadow: inset 0px -4px 4px rgba(0, 0, 0, 0.15);
    position: relative;
}

.home__hero_orn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.home__hero_left {
    width: 90%;
}

.home__hero_left h5 {
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: underline;
    letter-spacing: 0.5px;
}

.home__hero_left h1 {
    font-size: 42px;
    line-height: 49px;
    color: #ffffff;
    margin-bottom: 15px;
}

.home__hero_left h6 {
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.7);
}

.home__hero_left button {
    margin-top: 15px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px;
}
.home__hero_left button i {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 14px;
}

.home__hero_left button:hover {
    background: #fff;
    color: #e36d1c;
}
/* .home__hero_right {
    border: 1px solid red;
} */

.home__hero_right img {
    width: 100%;
}

.custom-shape-divider-bottom-1636602785 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1636602785 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1636602785 .shape-fill {
    fill: #fffaf8;
}

.custom-shape-divider-bottom-1636602786 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1636602786 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1636602786 .shape-fill {
    fill: #e36d1c;
}

.custom-shape-divider-bottom-1636602787 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1636602787 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1636602787 .shape-fill {
    fill: #fffaf8;
}

/* HOME PROBLEM */
.home__problem h2 {
    font-family: gilroy-semibold, serif;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}
.home__problem h2 span {
    color: #e36d1c;
    font-family: gilroy-bold, serif;
}

.problem_wrap {
    display: flex;
    align-items: center;
    width: 400%;
    position: relative;
    /* white-space: nowrap; */
}

.problem_item {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.problem_item .card {
    background: #ffffff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: transparent;
    min-height: 150px;
    max-width: 400px;
    width: 400px;
}

.problem_item .card-body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.problem_item .card-body h6 {
    font-family: gilroy-semibold, serif;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
    .problem_wrap {
        width: 200%;
    }
}

/* HOME SOLUTION */
.home__solution_list {
    margin-top: 25px;
}
.home__solution_right h4 {
    font-family: gilroy-medium;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.home__solution_right h2 {
    font-family: Gilroy-SemiBold;
    font-size: 34px;
    line-height: 42px;
    color: #000000;
}

.solution_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.solution_list_item .sl_num {
    margin-right: 20px;
}

.solution_list_item .sl_text h6 {
    margin: 0;
    font-family: gilroy-medium;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

/* HOME WORKS */

.home__works {
    padding-top: 100px;
    padding-bottom: 100px;

    background: url("../../images/ornament/section-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.home__works_left h4 {
    font-family: gilroy-medium;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.home__works_left h2 {
    font-family: gilroy-medium;
    font-size: 38px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 25px;
}

.home__works_left h6 {
    font-family: gilroy-medium;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
}

.home__works_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.home__works_right button {
    font-family: gilroy-semibold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 17px;
    width: 270px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}

.home__works_right button.sec {
    background: #ffffff;
    border: 1px solid #e36d1c;
    color: #e36d1c;
}

.home__works_right button.prm {
    background: #e36d1c;
    border: 1px solid #e36d1c;
    color: #ffffff;
}

.custom-shape-divider-bottom-1636615399 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1636615399 svg {
    position: relative;
    display: block;
    width: calc(127% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1636615399 .shape-fill {
    fill: #ffffff;
}

/* HOME FITUR */
.home__fitur {
    background: #ffffff;
    padding-bottom: 75px;
}

.home__fitur h2 {
    font-family: gilroy-semibold;
    font-size: 38px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.home__fitur .card {
    background: #ffffff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: transparent;
    height: 100%;
}

.home__fitur .card-body img {
    width: 100%;
    margin-bottom: 15px;
}

.home__fitur .card-body h6 {
    font-family: gilroy-semibold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #e36d1c;
}

/* HOME BENEFIT */
.home__benefit {
    background: #ffffff;
    position: relative;
}

.home__benefit_orn {
    position: absolute;
    top: -750px;
    left: 0;
    width: 1000px;
    z-index: 1;
}

.home__benefit .card {
    background: #ffffff;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    border: transparent;
    margin-bottom: 25px;
}

.home__benefit .card-body {
    padding: 2rem;
}

.home__benefit_left h4 {
    font-family: gilroy-medium;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}

.home__benefit_left h2 {
    font-family: gilroy-medium;
    font-size: 38px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 25px;
}

.home__benefit .card-body img {
    margin-bottom: 15px;
}

.home__benefit .card-body h5 {
    font-family: gilroy-bold;
    font-size: 24px;
    line-height: 28px;
    color: #f7761e;
}
.home__benefit .card-body h6 {
    font-family: gilroy-medium;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

/* HOME FOOTER */
.home__footer {
    background: #ffffff;
    position: relative;
    padding: 50px 0;
}

.home__footer .card {
    background: url("../../images/ornament/footer-orn.png");
    background-size: 100%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
    border: transparent;
}

.home__footer .card-body {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__footer .card-body p {
    font-family: gilroy-medium;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
}

.home__footer .card-body h2 {
    font-family: gilroy-medium;
    font-size: 38px;
    line-height: 45px;
    color: #ffffff;
    text-align: center;
    width: 65%;
    margin-bottom: 25px;
}
.home__footer .card-body span {
    color: #fff;
}

.home__footer .card-body button {
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 8px;

    font-family: gilroy-semibold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 17px;
}
