.page-content{
    overflow: hidden;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
}

.page-content .background-image-1{
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translate(0%, -10%);
    object-fit: contain;
    pointer-events: none;
}

.page-content .background-image-2{
    position: absolute;
    z-index: -1;
    right: 0%;
    top: 50%;
    transform: translate(1%, -22%);
    pointer-events: none;
    object-fit: contain;
    
}

.page-content .container-child{
    width: 80%;
    margin: 0 auto;
}
.page-content .page-title-division{
    margin-bottom: 65px;
}

.page-content .page-division{
    margin-bottom: 100px;
}

.page-title{
    font-size: 42px;
    font-weight: 700;
    color: black;
    text-align: center;
    line-height: 1.6;
}
.page-box{
    width: 60%;
    margin: 0 auto;
}
.page-exp{
    font-size: 16px;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.6;
}

.page-exp span{
    color: #F7761E;
}

/* Pricing Box Row */

.pricing-box{
    padding: 25px;
    
    background: white;
    border-radius: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    
    box-shadow: 0px 6px 6px rgba(191, 144, 0, 0.1);
}

.pricing-box.starter, .pricing-box.business{
    border: 1px solid rgba(191, 144, 0, 1)
}
.pricing-box.premium{
    
    border: 1px solid #F7761E; 
    border-top: 10px solid #F7761E;  
}

.pricing-box h4{
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    font-weight: 500;
}
.pricing-box.starter h4{
    color: black;
    
}

.pricing-box.business h4{
    color:rgba(191, 144, 0, 1);
}

.pricing-box.premium h4{
    margin-top: 5px !important;
    color: #F7761E;
}

.pricing-box h3{
    color: black;
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 1px;
}

.pricing-box .monthly{
    font-size: 14px;
    color: black;
    font-weight: 500;
}

.pricing-box button{
    width: 100%;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
}

.pricing-box.starter button{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.pricing-box.premium button{
    border: 1px solid #F7761E;
    background-color: #F7761E;
    color: white;
}

.pricing-box.business button{
    border: 1px solid rgba(191, 144, 0, 1);
    background-color: rgba(191, 144, 0, 1);
    color: white;
    
}

.pricing-box .withlink{
    color: black;
    font-size: 11px;
    text-align: center;
    margin-bottom: 30px;
}

.pricing-box a{
    text-decoration-line: underline;
}
.pricing-box.starter a{
    color: black;
}

.pricing-box.premium a{
    color: #F7761E;
}
.pricing-box.business a{
    color: rgba(191, 144, 0, 1);
}

.pricing-box .feature{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-bottom: 0px;
}


.division-title{
    font-size: 32px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin-bottom: 45px;
}

/* Table */
 
.table-pricing{
    
    width: 100%;
    table-layout: fixed;
    border-radius: 15px;
}
.table-pricing tr td{
    
    border: 1px solid rgba(191, 144, 0, 0.3);
}
.table-pricing .size td{
    color: rgba(0, 0, 0, 0.5);
    font-size: 11px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    
}

.table-pricing .title td{
    background-color: #F7761E;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.table-pricing .package td{
    
    font-size: 14px;

    text-align: center;
    color: black;
    font-weight: bold;
    padding-bottom: 25px;
    padding-top: 25px;
}

.table-pricing tr:first-child td {
    border-top: 0
}
.table-pricing tr:last-child td {
    border-bottom: 0
}
.table-pricing tr td:first-child
{
    border-left:0
}
.table-pricing tr td:last-child
{
    border-right:0
}

.div-table{
    border-radius: 20px;
    width: 100%;
    padding: 1px;
    background-color: #F7761E;
    box-shadow: 0px 21px 20px rgba(191, 144, 0, 0.1);
}
.white-table{
    border-radius: 20px;
    width: 100%;
    
    background-color: white;
}


/*  RESPONSIVE  */



@media (max-width:991px) {
    .page-box{
        width: 70%;
        
    }
    .page-content .container-child{
        width: 85%;
        margin: 0 auto;
    }
    .page-title{
        font-size: 40px;
    }

    .page-exp{
        font-size: 15px;
    }
    .division-title{
        font-size: 30px;
    }
}

@media (max-width:767px) {
    .page-box{
        width: 80%;
    }
    .page-content .container-child{
        width: 90%;
        margin: 0 auto;
    }
    .page-title{
        font-size: 36px;
    }
    .page-exp{
        font-size: 14px;
    }
    .division-title{
        font-size: 28px;
    }
}

@media (max-width:575px) {
    .page-box{
        width: 90%;
    }
    .page-title{
        font-size: 32px;
    }
    .page-exp{
        font-size: 13px;
    }
    .division-title{
        font-size: 24px;
    }
}